# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore local libraries (AARs) and downloaded archives
*.aar
*.zip

# Ignore IDE settings (IntelliJ / Android Studio)
.idea/
*.iml
*.ipr
*.iws

